.span2.content
  .posts#side-links
    %h4 Follow us!
    = link_to "Twitter"
    = link_to "Facebook"
    = link_to(icon("gift", "Donate"), donate_url, class: "btn btn-warning")
    %h4 Contact us
    = link_to "Contact"