- if @event.errors.any?
  #error_explanation
    .alert.alert-error
      The form contains
      = pluralize(@event.errors.count, "error")
    %ul
      - @event.errors.full_messages.each do |msg|
        %li= msg
