// Landscape phones and down
@media (max-width: 480px) {
  
  
  
  }

// Landscape phone to portrait tablet
@media (max-width: 768px) {
  
  .post-info {
    li:last-child {
      margin-top: -50px;
    }
  }
  
}

// Portrait tablet to landscape and desktop
@media (min-width: 768px) and (max-width: 980px) {
  .post-info {
    li:last-child {
      margin-top: -50px;
    }
  }
  
}

// Large desktop
@media (min-width: 1200px) {
 

  
}