.btn-group
  %a.btn.btn-info{:href => "#"}
    = icon("cogs", "Admin")
  %a.btn.btn-info.dropdown-toggle{"data-toggle" => "dropdown", :href => "#admin-menu"}
    %span.caret
  %ul.dropdown-menu
    = content_tag(:li, link_to(icon("user", "New User"), new_user_url))
    = content_tag(:li, link_to(icon("warning-sign", "Edit/Delete Users"), users_url))
    = content_tag(:li, link_to(icon("edit", "Edit About Page"), edit_post_url(1)))
    
